<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Closest Quake</title>
</head>
<body>
<h2>Earthquake information retrieval system</h2>
 Compare whether place A has more earthquakes within given distance or place B has
<hr>
<h2>1001745502</h2>
    <h2>Aditee Dakhane</h2>
    <br>
 <form action="/compare" method="get">
  Show whether quakes common within X km of place A or place B in the last 30 days. Please input X, A, B: <br>
   Distance: <input type="text" name="distance" maxlength="200" width="60">
   Place A: <input type="text" name="placeA" maxlength="200" width="60">
   Place B: <input type="text" name="placeB" maxlength="200" width="60">
  <input type="submit" value="submit">
</form>
{% if ciA|length > ciB|length %}
<p>Quakes are more common in {{pA}} than {{pB}}</p>
{% else %}
<p>Quakes are more common in {{pB}} than {{pA}}</p>
{% endif %}
<h1> TABLE for place A</h1>
<table border = 1>

<!--database rows are fetched-->
         {% for r in ciA %}

             <tr>
            <td>{{r["TIME"]}}</td>
            <td>{{r["LATITUDE"]}}</td>
            <td> {{r["LONGITUDE"]}}</td>
            <td>{{r['DEPTH']}}</td>
            <td>{{r['MAG']}}</td>
          <td>{{r['MAGTYPE']}}</td>
          <td>{{r['NST']}}</td>
          <td>{{r['GAP']}}</td>
          <td>{{r['DMIN']}}</td>
           <td>{{r['RMS']}}</td>
           <td>{{r['NET']}}</td>
           <td>{{r['ID']}}</td>
          <td>{{r['UPDATED']}}</td>
          <td>{{r['PLACE']}}</td>
          <td>{{r['TYPE']}}</td>
          <td>{{r['HORIZONTALERROR']}}</td>
          <td>{{r['DEPTHERROR']}}</td>
          <td>{{r['MAGERROR']}}</td>
          <td>{{r['MAGNST']}}</td>
          <td>{{r['STATUS']}}</td>
          <td>{{r['LOCATIONSOURCE']}}</td>
          <td>{{r['MAGSOURCE']}}</td>
         </tr>
         {% endfor %}
      </table>

<h1> TABLE for place B</h1>
<table border = 1>

<!--database rows are fetched-->
         {% for r in ciB %}
         <tr>
            <td>{{r["time"]}}</td>
            <td>{{r["latitude"]}}</td>
            <td> {{r["longitude"]}}</td>
            <td>{{r['depth']}}</td>
            <td>{{r['mag']}}</td>
          <td>{{r['magType']}}</td>
          <td>{{r['nst']}}</td>
          <td>{{r['gap']}}</td>
          <td>{{r['dmin']}}</td>
           <td>{{r['rms']}}</td>
           <td>{{r['net']}}</td>
           <td>{{r['id']}}</td>
          <td>{{r['updated']}}</td>
          <td>{{r['place']}}</td>
          <td>{{r['type']}}</td>
          <td>{{r['horizontalError']}}</td>
          <td>{{r['depthError']}}</td>
          <td>{{r['magError']}}</td>
          <td>{{r['magNst']}}</td>
          <td>{{r['status']}}</td>
          <td>{{r['locationSource']}}</td>
          <td>{{r['magSource']}}</td>
         </tr>
         {% endfor %}
      </table>

</body>
</html>