<HTML>
<body>
<h2>Earthquake information retrieval system</h2>

<hr>
<h2>1001745502</h2>
    <h2>Aditee Dakhane</h2>
    <br>
<h3><a href = "/retrievedata">View table details</a></h3>
<h3><a href = "/givendistance">Find Quakes within 200 KM</a></h3>
<h3><a href = "/cq">Find Closest Quake with mag > 6</a></h3>
<h3><a href = "/lq">Find Largest Quake</a></h3>
<h3><a href = "/cp">Compare two places</a></h3>
<h3><a href = "/ms">Quakes within Magnitude Ranges</a></h3>
<h3><a href = "/lr">Show locations within range</a></h3>
</p>
</body>
</HTML>

